.activity{
    flex: 0 0 33.33%;                     
    background-color: #999;
    position: relative;
}

.activityBlock{
    height: 200px;
    background-size: cover;
    background-position: center;
}

.activityTitle{
    color:white;
    top: 50%;
    text-align: center;
    padding: 12px;
}

body.modal-open{
    overflow: scroll !important;
    padding-right: 0 !important;
}
