.bannerImage {
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .bannerImage {
        width: auto;
        height: 100vh;
        position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: -20%;
    }
}

@media screen and (max-width: 600px) {
    .bannerImage {
        margin-left: -50%;
    }
}