.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}

.educationTitle{
    font-family: Raleway;
    font-size: 40px; 
    font-weight: 800;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 80px;
    color: #3d3d3d
}

.educationTitle::after{
    background-color:salmon; 
    margin-top: 10px;
    content: '';
    bottom: 0;
    display: block;
    height: 4px;
    left: 50%;
    position: relative;
    transform: translate(-50%,0);
    width: 20%;
}


.educationText {
    width: 50%;
    margin: auto;
    margin-top: 2%;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.university {
    margin: auto;
    margin-top: 3%;
}

.educationText p {
    line-height: 1.5;
    font-size: 18px;
}


.educationText li{
    font-weight: 600;
    line-height: 2;
    font-size: 18px;
    list-style: none;
}

@media screen and (max-width: 1200px) {
    .educationText p{
        font-size: 15px;
        line-height: 1.5;
    }
    .educationText li{
        font-size: 15px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 992px) {
    .educationText p{
        font-size: 18px;
        line-height: 1.5;
    }
    .educationText li{
        font-size: 18px;
        line-height: 2;
    }


    .techIconContainer{
        display: flex;
        flex-direction: row;
    }

    .educationText{
        display: flex;
        flex-direction: column;
    }

    .educationText{
        align-self: center;
        width: 65%;
        margin: 5% 5% 5% 5%;
    }
    
}

@media screen and (max-width: 600px) {
    

}