.topnav{
    padding-top: 2%;
    text-align: center;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    border: solid;
    /* border-width: 0 0 1px 0;
    border-color: #ffd4d4; */
}

.topnav ul{
    margin:0;
    padding: 0;
}

.topnav li{
    margin: 10px 20px;
}

.navlinks{
    display: inline-flex;
}

.navlinks a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color .3s;
}

.navlinks a:hover{
    color: salmon;
    transition: color .3s;
}

.navlinks a::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width .3s;
}
.navlinks a:hover::after{
    width: 100%;
    transition: width .3s;
}


@media screen and (max-width: 992px) {
    .topnav li{
        margin: 10px 10px;
    }
    
}

@media screen and (max-width: 600px) {
    .navlinks{
        font-size: 14px;
    }
}